In [13]:
import calendar
import datetime
import time
import pandas as pd

In [14]:
CITY_DATA = {
    'chicago': 'chicago.csv',
    'new york city': 'new_york_city.csv',
    'washington': 'washington.csv'
}
month_filter, day_filter = None, None

In [15]:
def check_input(choice_type, choices):
    while True:
        choice = input(f"choices {choices}: ").strip()
        if choice == '0':
            return 'all'
        try:
            if choice_type == 'month':
                choice = calendar.month_name[int(choice)]
            else:
                choice = calendar.day_name[int(choice) - 1]
        except IndexError:
            print(f"Wrong input, {choice} isn't a {choice_type} no., you must enter a value in the mentioned choices!")
            continue
        except ValueError:
            print(f"Wrong input, {choice} isn't a number, you must enter a value in the mentioned choices!")
            continue
        return choice

In [16]:
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print("Hello! Let's explore some US bikeshare data!")

    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    print('Enter city name that you want to explore their data from,')
    while True:
        city = input('choices (chicago, new york city, washington): ').strip().lower()
        if city not in CITY_DATA:
            print(f"Wrong input, {city} isn't a city name or isn't in the mentioned choices")
            continue
        break

    # get user input for month (all, january, february, ... , june)
    print("Enter a month no. that you want to explore in or type a '0' to explore in all months,")
    choices = "(0=all , 1=January , 2=February , 3=March , ... , 12=December)"
    month = check_input('month', choices)

    # get user input for day of week (all, monday, tuesday, ... sunday)
    print("Enter a day no. that you want to explore on or type a '0' to explore on all weekdays,")
    choices = "(0=all, 1=Monday, 2=Tuesday, 3=Wednesday, 4=Thursday, 5=Friday, 6=Saturday, 7=Sunday)"
    day = check_input('day', choices)
    print('-'*120)
    global month_filter, day_filter
    month_filter, day_filter = month, day
    return city, month, day

In [17]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    df = pd.read_csv(CITY_DATA[city])

    # Cast 'Start Time' column type to date time and exclude the month and day names
    start_time = pd.to_datetime(df['Start Time'])
    df['Month'] = start_time.dt.month_name()
    df['Day'] = start_time.dt.day_name()
    df['Hour'] = start_time.dt.hour
    df['Start/End Time'] = df['Start Time'] + ' ' + df['End Time']
    if 'Birth Year' in df:
        df['Birth Year'] = df['Birth Year'].fillna(method='ffill').astype(int)
    # Filter by month of day names if they do not equal to 'all'
    if month != 'all':
        df = df[df['Month'] == month]
    if day != 'all':
        df = df[df['Day'] == day]
    return df

In [18]:

def display_most_common(df, common):
    """
    Displays the most common in the DataFrame by using the statistical function 'mode()'.

    Args:
        (DataFrame) df - dataframe
        (str) common - any column name in the dataframe
    """
    most_common = df[common].mode().tolist()
    print(f"The most common {common} of travel {'is' if len(most_common) == 1 else 'are'} {' '.join(map(str, most_common))}")

In [19]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print(f'\nCalculating The Most Frequent Times of Travel on {day_filter} weekdays & in {month_filter} months\n')
    start_time = time.time()

    # display the most common month
    display_most_common(df, 'Month')

    # display the most common day of week
    display_most_common(df, 'Day')

    # display the most common start hour
    display_most_common(df, 'Hour')

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*120)

In [20]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('f\nCalculating The Most Popular Stations and Trip on {day_filter} weekdays & in {month_filter} months\n')
    start_time = time.time()

    # display most commonly used start station
    display_most_common(df, 'Start Station')

    # display most commonly used end station
    display_most_common(df, 'End Station')

    # display most frequent combination of start station and end station trip
    display_most_common(df, 'Start/End Time')

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*120)

In [21]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print(f'\nCalculating Trip Duration on {day_filter} weekdays & in {month_filter} months\n')
    start_time = time.time()

    # display total travel time
    total_trip_duration = datetime.timedelta(seconds=float(df['Trip Duration'].sum()))
    print(f"The total travel time is {total_trip_duration}")

    # display mean travel time
    average_trip_duration = datetime.timedelta(seconds=float(df['Trip Duration'].mean()))
    print(f"The average travel time is {average_trip_duration}")

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*120)

In [22]:
def display_users_counts(df, state):
    """
    Displays users states in the DataFrame'.

    Args:
        (DataFrame) df - dataframe
        (str) state - any column name in the dataframe
    """
    print(f"The counts of {state} are :")
    user_states = df[state].value_counts().to_dict()
    for state, count in user_states.items():
        print(f"The count of {state} = {count}")

In [23]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print(f'\nCalculating User Stats on {day_filter} weekdays & in {month_filter} months\n')
    start_time = time.time()

    # Display counts of user types
    display_users_counts(df, 'User Type')
    print()

    if 'Gender' in df:
        # Display counts of gender
        display_users_counts(df, 'Gender')
        print()

    if 'Birth Year' in df:
        # Display earliest, most recent, and most common year of birth
        print(f"The earliest year of birth is {df['Birth Year'].min()}")
        print(f"The most recent year of birth is {df['Birth Year'].max()}")
        display_most_common(df, 'Birth Year')

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*120)

In [24]:
def show_row_data(df):
    """
    Asks the user to display 5 rows of raw data in the DataFrame based on the user choice.

    Args:
        (DataFrame) df - dataframe
    """
    number_of_rows = 0
    while True:
        choice = input('Would you like to see 5 rows of the raw data? Enter (yes or no): ').strip().lower()
        if choice == 'yes':
            print(df.iloc[number_of_rows:number_of_rows + 5])
            number_of_rows += 5
        else:
            break

In [26]:
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        if df.empty:
            print(f'There is no data in {month} or on {day}')
            continue

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)
        show_row_data(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break

In [27]:
if __name__ == "__main__":
    main()

Hello! Let's explore some US bikeshare data!
Enter city name that you want to explore their data from,
choices (chicago, new york city, washington): chicago
Enter a month no. that you want to explore in or type a '0' to explore in all months,
choices (0=all , 1=January , 2=February , 3=March , ... , 12=December): 4
Enter a day no. that you want to explore on or type a '0' to explore on all weekdays,
choices (0=all, 1=Monday, 2=Tuesday, 3=Wednesday, 4=Thursday, 5=Friday, 6=Saturday, 7=Sunday): 2
------------------------------------------------------------------------------------------------------------------------

Calculating The Most Frequent Times of Travel on Tuesday weekdays & in April months

The most common Month of travel is April
The most common Day of travel is Tuesday
The most common Hour of travel is 17

This took 0.0075473785400390625 seconds.
------------------------------------------------------------------------------------------------------------------------
f
Calculating The Most Popular Stations and Trip on {day_filter} weekdays & in {month_filter} months

The most common Start Station of travel is Clinton St & Washington Blvd
The most common End Station of travel is Clinton St & Madison St
The most common Start/End Time of travel are 2017-04-11 19:54:19 2017-04-11 20:01:14 2017-04-18 18:49:17 2017-04-18 19:00:48

This took 0.005892753601074219 seconds.
------------------------------------------------------------------------------------------------------------------------

Calculating Trip Duration on Tuesday weekdays & in April months

The total travel time is 81 days, 3:46:07
The average travel time is 0:14:13.660458

This took 0.001398324966430664 seconds.
------------------------------------------------------------------------------------------------------------------------

Calculating User Stats on Tuesday weekdays & in April months

The counts of User Type are :
The count of Subscriber = 7233
The count of Customer = 981

The counts of Gender are :
The count of Male = 5587
The count of Female = 1649

The earliest year of birth is 1899
The most recent year of birth is 2016
The most common Birth Year of travel is 1989

This took 0.0041501522064208984 seconds.
------------------------------------------------------------------------------------------------------------------------
Would you like to see 5 rows of the raw data? Enter (yes or no): yes
     Unnamed: 0           Start Time             End Time  Trip Duration  \
28       512692  2017-04-11 18:49:57  2017-04-11 18:59:36            579
88       591507  2017-04-18 21:23:07  2017-04-18 21:50:43           1656
142      580692  2017-04-18 07:58:28  2017-04-18 08:09:41            673
173      657136  2017-04-25 08:47:48  2017-04-25 08:57:52            604
216      509620  2017-04-11 15:40:13  2017-04-11 16:04:18           1445

                    Start Station                          End Station  \
28           Clinton St & Lake St  Mies van der Rohe Way & Chestnut St
88   Sheffield Ave & Waveland Ave                    Clark St & Elm St
142       Clinton St & Madison St                Dearborn St & Erie St
173        Kingsbury St & Erie St                 McClurg Ct & Erie St
216       Clinton St & Madison St                 Wallace St & 35th St

      User Type  Gender  Birth Year  Month      Day  Hour  \
28   Subscriber    Male        1989  April  Tuesday    18
88   Subscriber  Female        1989  April  Tuesday    21
142  Subscriber    Male        1971  April  Tuesday     7
173  Subscriber    Male        1976  April  Tuesday     8
216  Subscriber    Male        1988  April  Tuesday    15

                              Start/End Time
28   2017-04-11 18:49:57 2017-04-11 18:59:36
88   2017-04-18 21:23:07 2017-04-18 21:50:43
142  2017-04-18 07:58:28 2017-04-18 08:09:41
173  2017-04-25 08:47:48 2017-04-25 08:57:52
216  2017-04-11 15:40:13 2017-04-11 16:04:18
Would you like to see 5 rows of the raw data? Enter (yes or no): yes
     Unnamed: 0           Start Time             End Time  Trip Duration  \
220      453739  2017-04-04 16:26:07  2017-04-04 16:27:29             82
249      665918  2017-04-25 18:39:20  2017-04-25 18:41:31            131
272      660930  2017-04-25 15:06:44  2017-04-25 15:11:23            279
299      511427  2017-04-11 17:35:01  2017-04-11 17:47:48            767
362      582074  2017-04-18 09:13:25  2017-04-18 09:29:23            958

                      Start Station                     End Station  \
220   Pine Grove Ave & Waveland Ave   Pine Grove Ave & Waveland Ave
249  Lake Shore Dr & Wellington Ave  Lake Shore Dr & Wellington Ave
272          Benson Ave & Church St         University Library (NU)
299           Wells St & Concord Ln   Lake Shore Dr & Diversey Pkwy
362        Canal St & Monroe St (*)       Franklin St & Chicago Ave

      User Type  Gender  Birth Year  Month      Day  Hour  \
220    Customer     NaN        1994  April  Tuesday    16
249  Subscriber  Female        1987  April  Tuesday    18
272  Subscriber    Male        1989  April  Tuesday    15
299  Subscriber  Female        1989  April  Tuesday    17
362  Subscriber    Male        1961  April  Tuesday     9

                              Start/End Time
220  2017-04-04 16:26:07 2017-04-04 16:27:29
249  2017-04-25 18:39:20 2017-04-25 18:41:31
272  2017-04-25 15:06:44 2017-04-25 15:11:23
299  2017-04-11 17:35:01 2017-04-11 17:47:48
362  2017-04-18 09:13:25 2017-04-18 09:29:23
Would you like to see 5 rows of the raw data? Enter (yes or no): yes
     Unnamed: 0           Start Time             End Time  Trip Duration  \
396      665356  2017-04-25 18:13:47  2017-04-25 18:36:18           1351
417      454589  2017-04-04 17:14:33  2017-04-04 17:34:59           1226
450      661566  2017-04-25 15:59:27  2017-04-25 16:40:10           2443
456      506016  2017-04-11 07:10:46  2017-04-11 07:26:46            960
487      453857  2017-04-04 16:35:43  2017-04-04 16:47:38            715

                    Start Station                End Station   User Type  \
396  Clinton St & Washington Blvd     Damen Ave & Pierce Ave  Subscriber
417    Wilton Ave & Diversey Pkwy       State St & Kinzie St  Subscriber
450     Lake Shore Dr & Monroe St               Field Museum    Customer
456     Clinton St & Jackson Blvd    Hermitage Ave & Polk St  Subscriber
487       Dearborn St & Monroe St  Columbus Dr & Randolph St  Subscriber

    Gender  Birth Year  Month      Day  Hour  \
396   Male        1975  April  Tuesday    18
417   Male        1980  April  Tuesday    17
450    NaN        1980  April  Tuesday    15
456   Male        1951  April  Tuesday     7
487   Male        1987  April  Tuesday    16

                              Start/End Time
396  2017-04-25 18:13:47 2017-04-25 18:36:18
417  2017-04-04 17:14:33 2017-04-04 17:34:59
450  2017-04-25 15:59:27 2017-04-25 16:40:10
456  2017-04-11 07:10:46 2017-04-11 07:26:46
487  2017-04-04 16:35:43 2017-04-04 16:47:38
Would you like to see 5 rows of the raw data? Enter (yes or no): yes
     Unnamed: 0           Start Time             End Time  Trip Duration  \
501      657544  2017-04-25 09:13:21  2017-04-25 09:39:29           1568
522      579784  2017-04-18 06:59:49  2017-04-18 07:06:20            391
545      584237  2017-04-18 13:34:07  2017-04-18 13:49:07            900
575      585842  2017-04-18 16:05:36  2017-04-18 16:22:05            989
577      451167  2017-04-04 08:20:38  2017-04-04 08:35:57            919

                    Start Station                End Station   User Type  \
501         Indiana Ave & 26th St   Jefferson St & Monroe St  Subscriber
522       Clinton St & Madison St  LaSalle St & Jackson Blvd  Subscriber
545  Sheridan Rd & Irving Park Rd  Clark St & Wellington Ave    Customer
575     Ogden Ave & Congress Pkwy  Artesian Ave & Hubbard St  Subscriber
577     Clinton St & Jackson Blvd      Wolcott Ave & Polk St  Subscriber

     Gender  Birth Year  Month      Day  Hour  \
501    Male        1975  April  Tuesday     9
522    Male        1993  April  Tuesday     6
545     NaN        1987  April  Tuesday    13
575    Male        1973  April  Tuesday    16
577  Female        1965  April  Tuesday     8

                              Start/End Time
501  2017-04-25 09:13:21 2017-04-25 09:39:29
522  2017-04-18 06:59:49 2017-04-18 07:06:20
545  2017-04-18 13:34:07 2017-04-18 13:49:07
575  2017-04-18 16:05:36 2017-04-18 16:22:05
577  2017-04-04 08:20:38 2017-04-04 08:35:57

Would you like to see 5 rows of the raw data? Enter (yes or no): yes
     Unnamed: 0           Start Time             End Time  Trip Duration  \
601      508893  2017-04-11 13:37:24  2017-04-11 13:41:02            218
608      587677  2017-04-18 17:20:25  2017-04-18 17:28:22            477
655      658006  2017-04-25 10:05:26  2017-04-25 10:14:26            540
700      659902  2017-04-25 13:23:44  2017-04-25 13:33:06            562
714      588102  2017-04-18 17:32:52  2017-04-18 17:52:25           1173

                  Start Station                   End Station   User Type  \
601   Michigan Ave & Madison St         LaSalle St & Adams St  Subscriber
608     Clinton St & Madison St  Michigan Ave & Washington St  Subscriber
655  Indiana Ave & Roosevelt Rd     Clinton St & Roosevelt Rd    Customer
700  LaSalle St & Washington St     Wabash Ave & Roosevelt Rd  Subscriber
714              Burnham Harbor       Streeter Dr & Grand Ave    Customer

    Gender  Birth Year  Month      Day  Hour  \
601   Male        1983  April  Tuesday    13
608   Male        1988  April  Tuesday    17
655    NaN        1994  April  Tuesday    10
700   Male        1960  April  Tuesday    13
714    NaN        1987  April  Tuesday    17

                              Start/End Time
601  2017-04-11 13:37:24 2017-04-11 13:41:02
608  2017-04-18 17:20:25 2017-04-18 17:28:22
655  2017-04-25 10:05:26 2017-04-25 10:14:26
700  2017-04-25 13:23:44 2017-04-25 13:33:06
714  2017-04-18 17:32:52 2017-04-18 17:52:25
Would you like to see 5 rows of the raw data? Enter (yes or no): no

Would you like to restart? Enter yes or no.
no